/* navbar section start */

.container .style {
    font-size: 40px;
    color: #fb2364;
    font-family: 'Pacifico', cursive;
}
ul li {
    margin-left: 20px;
}

 nav ul li a  {
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-decoration: none;
    color: black;
}
.color{
    color: white;
}
nav ul li a:hover{
    color: #fb2364;
}
nav ul li a::after {
    position: absolute;
    content: '';
    left: 2px;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: red;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 95%;
    
}
.form-control {
    border: 2px solid #fb2364;
    border-radius: 20px;
    margin-right: -35px;
}
.navbar .btn {
    background-color: #fb2364;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
}
#icon {
    cursor: pointer;
    color: black;
}
.darkMode {
    background-color: rgb(53, 52, 52);
    color: white;
}
#navbar {
    background-color: rgb(53, 52, 52);
    color: white;
}

/* navbar section end */

/* home section start */

.main {
    width: 100%;
    height: 100vh;
    background-image: url(img/main/main.png);
    background-size: cover;
    color: white;
    display: flex;
}

.main .btn {
    border: 4px solid #fb2364;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.main .btn:hover {
    background-color: #c30944;
    color: black;
}

.main h1 {
    font-size: 50px;
    font-weight: 650;
}

@media screen and (max-width:635px) {
    .main h1 {
        font-size: 35px;

    }
}

/* home section end */

/* tranding section start */

.tranding .title p {
    color: #fb2364;
}

.tranding .col .card {
    transition: 0.5s;
}

.tranding .col .card:hover {
    box-shadow: 5px 5px 15px black;
    transform: translateY(-10px);
    cursor: pointer;
}

.tranding .btn {
    border: 3px solid #fb2364;
    border-radius: 20px;
    color: #c30944;
    transition: 0.5s;
}

.tranding .btn:hover {
    background-color: #c30944;
    color: white;
}

/* tranding section end */

/* organice section start */

.organice .title p {
    color: #fb2364;
}

.organice .card-text {
    text-align: justify;
}

.organice .card {
    transition: 0.5s;
    background-color: #3898a5;
}

.organice .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

/* organice section end */

/* store section start */

.store .title p {
    color: #fb2364;
}

.store .card {
    transition: 0.5s;

}

.store .card:hover {
    box-shadow: 5px 5px 15px black;
    transform: translateY(-10px);
    cursor: pointer;
}

.store .col-md-6 h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.store .btn {
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid #fb2364;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
}

.store .btn:hover {
    background-color: #c30944;
    color: black;
}

.store .col-md-6 p {
    color: black;
    font-size: 18px;
}

/* store section end */

/* footer section start */
.footer .btn {
    background-color: #fb2364;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
}

.footer .col-md-3 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .col-md-3 a:hover {
    text-decoration: underline;
    color: #fb2364;
}

.footer .col-md-3 h6 {
    color: white;
}

.footer .col-md-3 i {
    font-size: 25px;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .col-md-3 i:hover {
    color: #fb2364;
}

/* footer section start */


.reveal{
    transform: translateY(200px);
    transition: 1s;
}
.active{
    transform: translateY(0px);
}